@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

body {
    background-color: rgb(244, 244, 244);

}

.search {
    margin-top: 2rem;
    margin-left: 33rem;
    margin-bottom: -3rem;
}

#searchbox {
    width: 38%;
    padding: 3px;
    border: 0.5px solid rgb(221, 219, 219);
    font-size: 16px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(184, 184, 184);
}

#searchbtn {
    margin-left: 4px;
    padding: 3px;
    cursor: pointer;
    /* background-color: rgba(17, 241, 17, 0.745); */
    font-size: 16px;
    border: 0.5px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgb(184, 184, 184);
}

#searchbtn:hover {
    transform: scale(1.1);
    transition: 200ms ease-in-out;
    background-color: rgba(17, 241, 17, 0.745);
}


#container {
    /* width: 100%; */
    /* height: 10rem; */
}

#data {
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: 9rem 19rem;
    height: 20rem;
    padding: 2rem;
    box-shadow: 1px 1px 20px rgb(184, 184, 184);
    display: flex;
}

#image {
    /* display: flex; */
    /* width: 13rem; */
    /* margin: 2rem 3.1rem; */
    /* border: 2px solid black; */
    /* margin: 10px 10px; */
}

#image #innerimage {
    display: flex;
    width: 14rem;
    margin: 3rem 3.1rem;
    /* border: 2px solid black; */
    /* margin: 10px 10px; */
}

#content {
    display: flex;
    width: 15rem;
    margin: 2rem 3rem;
    /* border: 2px solid black; */
}

#contents {
    list-style-type: none;
    align-items: center;
}

.item {
    margin: 1rem 1rem;
    /* padding: 3px; */
}

#item1 {
    font-size: 24px;
    margin-top: -1rem;
}

@media only screen and (max-width : 700px) {
    body {
        /* background-color: red; */
    }

    #searchbox {
        margin-left: -26rem;
        width: 16rem;
    }

    #searchbtn {
        /* margin-left: 4px; */

    }

    #data {
        position: relative;
        right: 12rem;
        /* background-color: yellow; */
        width: 20rem;
        height: 22rem;
    }

    #image #innerimage {
        position: relative;
        width: 10rem;
        top: -4rem;
        right: 0rem;
    }

    #contents {
        position: relative;
        top: 6rem;
        right: 15rem;
    }

    .item {
        font-size: 13px;
        display: flex;
        /* align-items: center; */
        position: relative;
        right: 5rem;
        margin-bottom: -0.8rem;
        margin-left: 1rem;

    }

    #bold{
        font-size: 13px;
        margin-left: 1rem;
        word-spacing: 9px;
    }
    
    #item1 {
        font-size: 21px;
        /* margin-left: 40px; */
        position: relative;
        top: -0.7rem;
        left: 1rem;
        
    }

    #item3{
        margin-left: 4px;
    }

}

@media only screen and (max-width : 500px) {
    body {
        height: 50%;
    }

    #searchbox {
        margin-left: -32rem;
        width: 9rem;
    }

    #searchbtn {
        /* margin-left: 4px; */

    }

    #data {
        position: relative;
        right: 17rem;
        /* background-color: yellow; */
        width: 11rem;
        height: 18rem;
    }

    #image #innerimage {
        position: relative;
        width: 7rem;
        top: -4rem;
        right: 3rem;

    }

    #contents {
        position: relative;
        top: 4rem;
        right: 15rem;
    }

    .item {
        font-size: 12px;
        display: flex;
        /* align-items: center; */
        position: relative;
        right: 3rem;
        margin-bottom: -0.8rem;
        margin-left: 1rem;

    }

    #bold{
        font-size: 13px;
        margin-left: 1rem;
        word-spacing: 9px;
    }
    
    #item1 {
        font-size: 21px;
        /* margin-left: 40px; */
        position: relative;
        top: -0.7rem;
        left: 1rem;
        
    }

    #item3{
        margin-left: 4px;
    }

    

}
